.ipynb_checkpoints
model_trained
*.pickle
genres_original
images_original
.vscode
__pycache__
*.zip
.DS_Storeo

# model folder

# img folder
up_img
result.jpeg

# songs folder
songs/

# virtualenv
**/site-packages/
**/bin
venv

# swap files
*.swp


# Databases

**.sqlite3
