.ipynb_checkpoints
model_trained
*.pickle
genres_original
images_original
.vscode
__pycache__
*.zip

# model folder

# songs folder
songs/

# virtualenv
**/site-packages/
**/bin

# swap files
*.swp


# Databases

**.sqlite3


#Staticfiles
**/static
